/*css3响应式设计
----------------------------------------------------------------------------------------------------------*/
header{
		width: 1280px;
	}
@media screen and (min-width:1280px){
	header{
		width: 100%;
	}
	
}
*{
	margin:0px;
	padding: 0px;
}

/*---header
--------------------------------------------------------------------------------------------------------*/

header{
	height: 62px;
	position: relative;
	background-color:rgb(0,179,138);
	border-bottom: rgb(70,70,70);	
}

header img{
	width: 50px;
	height: 50px;
	margin-left: 55px;
	margin-top: 5px;
	border-radius: 25px;
}

header .name{
	vertical-align: top;
	display: inline-block;
	font-size: 27px;
	margin: 12px;
	color:white ;
	font-family: "微软雅黑","黑体";
}


header ul{
	list-style: none;
	float: right;
	margin: 21px;
	width: 195px;

}
header ul span{
	color: white;
}
header li{
	display: inline-block;
	
}

header a{
	text-decoration: none;
	color: white;
	font-family: "微软雅黑","黑体";
	font-size: 14px;
}
header li:hover a{
	
	font-weight: bold;

}
/*--section
--------------------------------------------------------------------------------*/
section{
	background-color:rgb(240,250,220);
	width: 100%;
	
}
section .title{
	width: 100%;
	
	margin:20px;
}

section .title p{
	
	color: rgb(170,170,170);
	font-size: 13px;
	margin:20px;
	
}
section .title p #left{
	float: left;
}
section .title p #right{
	float: right;
	margin: 0px 20px;

}
section .title p span{
	margin: 0px 10px;
}
section .center{
	width: 850px;
	margin:0px auto;
	
	background-color: white;
	border: 1px solid rgb(180,180,180);
}
section img{
	width: 800px;
	height: 300px;
	margin:22px;

}
section .article{
	margin:45px;

}
/*
------------------------------------------------------------------------------*/
button{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	font-size: 15px;
	color:white;
	font-weight: bold;
	background-color:rgb(0,179,138);
	margin: 10px;
	position: relative;
	left: 50%;
	font-weight: normal;
	border: 0px;
}
