/* --css3媒体响应式设计
 ---------------------------------------------------------------------------------------*/
	header{
			width: 1280px;
		}
	#title{
		width: 10449px;
	}	
	.w_info div{
		width:400px;
	}
	#head{
		width:180px;
	}	
	.w_info input{
		width: 300px;
	}
	.w_info{
		width: 1200px;
	}
	#info_finish{
		width: 50px;
	}
/*---当窗口大于于1280px时，使用下面尺寸
---------------------------------------------------------------------------*/
@media screen and (min-width:1280px){
	header{
		width: 100%;
	}
	#title{
	width: 84%;
	}
	.w_info div{
	width:30%;
	}
	#head{
	width:52%;
	}
	.w_info input{
		width: 72%;
	}
	.w_info{
		width: 100%;
	}
	#info_finish{
		width: 7%;
	}
}
/*通用属性
-----------------------------------------------------------------------------*/
header{
	height: 70px;
	color: white;
	background-color:rgb(0,179,138);
	text-align: center;
	line-height: 70px;
	letter-spacing: 20px; 
	font-size: 35px;
	font-weight: bold;
}
input{
	height: 30px;
}
form{
	margin: 10px 30px;	
}
p{
	color: rgb(0,179,138);
	font-weight: bold;
	padding: 12px 4px 2px 4px;
	border-bottom: 1px solid #f5f5f5;
	font-size: 22px;
}
/*作者信息 w_info
-------------------------------------------------------------*/
.w_info{
	border: 3px solid rgb(0,179,138);
	height: 150px;
	text-align: center;	
}
.w_info p{
	display: inline-block;
}
.w_info div{	
	height: 130px;	
	float: left; 
}
.w_info input{	
	height: 30px;
	margin: 5px 20px;
}
/*个人头像input box属性
------------------------------------------------------------------------------------*/
#head{
	margin: 2% 29%;
	color: rgb(120,120,120);	
}
/*个人信息完成提交按钮
---------------------------------------------------------------------------------------*/
#info_finish{
	background-color: rgb(0,179,138);
	margin:4% 0%;
	font-size:13px;
	font-weight: bold;
	color: white;
	text-align: center;
	border: 0px;
	height: 42px;

}
#info_finish:hover{
	background-color: rgb(0,162,138)
}
/*--.text
--------------------------------------------------------------------------------*/
.text{
	margin-left: 30px;
}

#edit_warp {
	padding-right: 30px;
	padding-left: 30px;
}