.box1{
	height: 55px;
}
/*#editor {
	font-family:'summernoteRegular'
}*/

/*@font-face {
	font-family: 'summernoteRegular';
	src: url('/front.1/css/lib/summernote.eot');
	src: local('summernote Regular'), 
              local('summernote'), 
              url('/front.1/css/lib/summernote.woff') format('woff'), 
              url('/front.1/css/lib/summernote.ttf') format('truetype'), 
             
}  */
/* writer-info--
---------------------------------------------------------------------------*/
.writer_info{
	border:solid 1px rgb(228,228,228);
	height: 180px;
}
.article_info{
	border:solid 1px rgb(228,228,228);
	height: 230px;
}
.writer_info .input-group{
	margin: 40px 30px;
}
.article_info .input-group{
	margin: 60px 30px;
}

.writer_info .preview_img p,
.article_info .preview_img p{
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 1px;
	font-size: 16px;
	
}
.writer_info .preview_img img{
	margin: 0% 26%;
	width: 47%;
	border-radius: 50%;
}
.article_info .preview_img img{
	margin: 3%;
}
#doc_cover,
#doc_header{
	position: absolute;
	bottom: 6px;
	line-height: 35px;
	opacity: 0;
	width: 94%;
}
.writer_info .file_a,
.article_info .file_a{
	width: 100%;
	margin: 3%;
}
#contant{
	padding: 0px;
}
.editor_input{
	width: 1px;
	position: absolute;
	opacity: 0;
}
#submit{
	float: right;
	width: 30%;
	margin-bottom: 20px;
}