.box1{
	height: 55px;
}
/*----left side
------------------------------------------------------------------------------*/
.left{
	padding: 20px 40px;
	border: solid 1px rgb(200,200,200);
}
.left header{
	padding-bottom: 20px;
}
.left .article_cover{
	width: 100%;
	margin-bottom: 30px;
}
/*.read{
	border-bottom: solid 1px rgb(200,200,200);
	border-left: solid 1px rgb(200,200,200);
	border-right: solid 1px rgb(200,200,200);		
	width: 100%; 
}*/
.left .read {
	
}
.left .read .btn{
	float: right;
	padding: 5px 10px;
	margin: 20px 4px;
}
.comment{
	border-top: solid 1px rgb(200,200,200);
	padding: 10px;
}
.comment .form-control{
	width: 100%;
}
.comment .btn{
	float: right;
	text-align: center;
	padding: 25% 10%;
	margin: 10px;
	width: 100%;
}
/*----right side
------------------------------------------*/
.col-xs-3{
}
.right .writer{
	border-bottom: solid 1px rgb(200,200,200);
	border-top: solid 1px rgb(200,200,200);
	border-right: solid 1px rgb(200,200,200);
	/*border: solid 1px rgb(200,200,200);*/
	text-align: center;
	background-color: rgb(244,244,244);
	position: relative;
	left: -30px;
	line-height: 10px;
}
.right .writer .writer_header{
	padding: 20px 80px;
	border-radius: 50%;
}
.right .writer .writer_name{
	font-weight: bold;
}
.right .writer .writer_bg{
	color: rgb(120,120,120);
	font-size: 13px;
}
