.box1{
	height: 52px;
}
/*--input轮播图片预览
--------------------------------------------------*/
#localImag{
	
}
.select_article .control {
	padding: 5px 20px;
}
.select_article  .article{
	margin-top: 10px;
	width: 100%;
}
.modal-body #js_articleList{
	height: 200px;
	overflow: auto;
}

.submit .btn{
	margin: 10px 0px;
	width: 100%;
}
/*--type=file input design its style
------------------------------------------*/
/*.file {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
}
.file input {
    position: absolute;  
    right: 0;
    top: 0;
    opacity: 0;
}
*/
.file_a {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    width: 100%;
}
.file{
    position: absolute;
   	width: 100%;
   	height: 40px;
    right: 0px;
    top: 0px;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}