
/*--右边col-xs-4 时间及按钮租的显示
------------------------------------------*/
.box2{
	height: 120px;
	font-size: 18px;
	position: relative;
	text-align: left;
	letter-spacing:3px;
	line-height: 35px;
	padding-top: 2%;
}
.control {
	position: relative;
	padding: 10px;	
	
}
.btn-group{
	left: 30%;

}
/*--col-xs-8 轮播图的显示
-------------------------------------------------*/
.js_td{
	min-width: 1050px;
}
.carousel_pic div{
	font-size: 7px;
}
.carousel_pic h4{
	margin:5px 0px;
	font-weight: bold;
}
.carousel_pic .img_info{
	position: absolute;
	left: 60%;
	color: rgb(255,255,255);
	bottom: 30%;
	width: 35%;	
}
