@nav:rgba(124,104,180,0.9);
.container{
	min-width: 900px;
}
#carouselListHeader{
	background-color: @nav;
	color: white;
	margin-top:20px; 
}

li{
	list-style: none;	
}
li .remove{
	float: right;
	margin: 30px 10px;
}
.ui-state-default{
	height: 100px;
	padding-top: 5px;
}
li img{
	padding-top: 5px;
}
li .remove span{
	padding: 2px 10px;	
}
.list-group-item h4{
	line-height: 40px;
}
.btn-group .control{
	float: left;
	padding: 5px 20px;
	margin: 10px 0px;
}
.page{
    float: left;
    margin-left: 20%;
}
#publish,
.article{
	width: 49%;

}
/*---modal--
-----------------------------------------------*/
.modal-body #js_articleList{
	height: 200px;
	overflow: auto;
}
.pagination{
	position: relative;
	margin: 0px 0px;
	float: left;
}
