/*---消除nav置顶影响
--------------------------------------------*/
.box1{
	height: 55px;
}
/*--右边col-xs-4 时间及按钮租的显示
------------------------------------------*/
.box2{
	height: 120px;
	font-size: 18px;
	position: relative;
	text-align: left;
	letter-spacing:3px;
	line-height: 35px;
	padding-top: 2%;
}
.control {
	position: relative;
	padding: 10px;	
	
}
.btn-group{
	left: 30%;

}
/*--col-xs-8 轮播图的显示
-------------------------------------------------*/
.carousel_pic div{
	font-size: 7px;
}
.carousel_pic h4{
	margin-top: 3px;
	margin-bottom: 3px;
	font-weight: bold;
}
.carousel_pic .img_info{
	position: absolute;
	left: 60%;
	color: rgb(255,255,255);
	bottom: 25%;
	width: 35%;	
}
#downBtn{
	width: 100%;
	font-size: 18px;
}
 #downBtn span{
	
	padding: 3px;
	transition:all 2s; 	
	-webkit-transition:all 1s; /* Safari */
}
#downBtn span:hover{
	transform:rotateY(360deg);
	-webkit-transform:rotateY(360deg); /* Safari and Chrome */
}