.box1{
	height: 52px;
}
/*--input轮播图片预览
--------------------------------------------------*/
#localImag{
	border: solid 1px rgb()
}
.select_article .control 
{
	padding: 5px 10px;
}
.select_article  .article,
.select_article  .img{
	margin-top: 20px;
	width: 49%;
	left: 2px;
}
.time{
	margin: 10px 0px;
}

.prefer .btn{
	padding: 6px ;	
	border: solid 1px rgb(204,204,204);
	background-color: rgb(223,223,223);
	border-radius: 5px;
	float: left;
}
.prefer .selection{
	display: block;
	float: left;
	border: solid 1px rgb(204,204,204);
	border-radius: 5px;
	vertical-align: middle;
	width: 82%;
	margin-left:6px; 
	line-height: 32px;
}
.prefer input[type=radio]{
	margin: 1% 5%;
}
.submit .btn{
	margin: 10px 0px;
	width: 100%;
}
/*--type=file input design its style
------------------------------------------*/
.file {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
}
.file input {
    position: absolute;
    
    right: 0;
    top: 0;
    opacity: 0;
}
