body{
	position: relative;
}
a:hover{
	text-decoration: none;
}
.box1{
	height: 52px;
}
.item img{
	width: 100%;			
}
/*--nav2 && recomand
---------------------------------------------------*/
.nav2 .nav-stacked li,
.recomand .nav-stacked li{
	text-align: center;
	border-top: solid 1px rgb(120,120,120);
	margin-top: -1px;
}
.nav2 ul.nav-pills,
.recomand ul.nav-pills {
    top: 65px;
    position: fixed;
    border: solid 1px rgb(120,120,120);
}
.nav2 ul.nav-pills{
	width: 8em;
	left: 0px;
}
.recomand ul.nav-pills{
 	width: 15em;
}

/*---article
-----------------------------------------------------*/
.article .article_cover img{
	padding: 10px;
	
}
.article td {
	
}
.article_cover td:hover{
	
} 
.read{
	float: right;	
}
/*--Carousel
-----------------------------------------------------------*/
.carousel{
	/*color: rgb(5,55,20);*/
}
.img_info{
	position: absolute;
	left: 60%;
	color: rgb(255,255,255);
	bottom: 50%;	
}