
/*--carousel
---------------------------------------------------*/
.item img{
	width: 100%;			
}

/*----js_recomand
------------------------------------------------------*/
#js_recomand li{
	text-align: center;
	font-size: 16px;
}
#js_recomand{
	position: fixed;
	top: 750px;
	padding:7% 11% 0% 4%;
}

#js_recomand .list-group-item h5{
	display: inline;
}
#js_recomand .list-group-item .img{
	display: none;
}
#js_recomand .img{
	margin: 10px;
	position: relative;
}

/*当鼠标滑过link的时候
---------------------------------------------------*/

#js_recomand #activeList h5{
	display: none;
}
#js_recomand #activeList .img{
	display: block;
}
/*---article
-----------------------------------------------------*/

.article .article_cover img{
	padding: 20px;
	
}
.article td {
	transition:width 1s;
	-webkit-transition:width 1s; /* Safari */
}
.article_cover td:hover{
	
} 

/*--Carousel
-----------------------------------------------------------*/
.img_info{
	position: absolute;
	left: 57%;
	bottom: 33.3333%;
	color: rgb(255,255,255);		
}
.carousel_time span{
	font-size: 15px;
	font-weight: bold;
}
.carousel h1{
	width: 80%;
	font-size: 28px;
}
.carousel .writer_name,
.carousel .writer_info{
	font-size: 19px;
	width: 70%;
}
.carousel .detial{
	width: 80%;
}
