
/*--carousel
---------------------------------------------------*/
.item img{
	width: 100%;			
}
/*--nav2
---------------------------------------------------*/
.boxNav2{
	width: 100%;
}
#js_nav2{
	position: fixed;
	top:650px;
	
	
	
}
/*----js_recomand
------------------------------------------------------*/

#js_recomand{
	position: fixed;
	top: 750px;
	padding-right: 6%;
}
#js_recomand .list-group-item{
	
	line-height: 28px;
	text-align: center;
}
#js_recomand .list-group-item h5{
	display: inline;
}
#js_recomand .list-group-item .img{
	display: none;
}
#js_recomand .img{
	margin: 10px;
	position: relative;
}

#js_recomand .img .header{
	width: 100%;
	position: absolute;
	bottom: 0px;	
	height: 32px;
	line-height: 32px;
	background-color: rgba(0,0,0,0.7);
	color: rgb(255,255,255);
	text-align: center;
	letter-spacing: 5px;
	font-size: 16px;
}

/*当鼠标滑过link的时候
---------------------------------------------------*/

#js_recomand  #activeList h5{
	display: none;
}
#js_recomand  #activeList .img{
	display: block;
}
/*---article
-----------------------------------------------------*/

.article .article_cover img{
	padding: 20px;
	
}
.article td {
	transition:width 1s;
	-webkit-transition:width 1s; /* Safari */
}
.article_cover td:hover{
	
} 
.read{
	float: right;
}
/*--Carousel
-----------------------------------------------------------*/
.carousel{
	/*color: rgb(5,55,20);*/
}
.img_info{
	position: absolute;
	left: 60%;
	bottom: 35%;
	color: rgb(255,255,255);		
}
.carousel_time span{
	font-size: 15px;
	font-weight: bold;
}
/*文章下拉按钮
-------------------------------------------------------------------------*/
#downBtn{
	width: 100%;
	font-size: 18px;
}
 #downBtn span{
	
	padding: 3px;
	transition:all 2s; 	
	-webkit-transition:all 1s; /* Safari */
}
#downBtn span:hover{
	transform:rotateY(360deg);
	-webkit-transform:rotateY(360deg); /* Safari and Chrome */
}