@nav:rgba(124,104,180,0.9);
body{
	background-color: rgb(247,250,252);
	font-family: "微软雅黑";
	display: flex;
}
h1,h4{
	text-align: center;
	
}
h1{
	color:@nav;
	margin-top: 65px;
	font-size: 50px;
	font-weight: normal;
}
h4{
	color: rgb(150,150,150);
	margin-top: 50px;
	letter-spacing: 10px;
}
.a2{
	color: @nav;
	font-weight: bold;
	text-decoration: underline;
 }
.a{
	margin: 30px 5px;
}
span{
	font-size: 20px;
	margin: 55px;
	color: rgb(100,100,100);
	margin-bottom: 0px; 
	text-decoration: none;
	cursor: pointer;
}
input,button{
	
	height: 49px;
	display: block;
	font-size: 15px;
	border: 0px;
	margin-left: 2px;
	
	padding-left: 17px;
}
input{
	border-top:1px solid rgb(200,200,200); 
	border-left:1px solid rgb(200,200,200);
	border-right:1px solid rgb(200,200,200);
	width: 300px;
}
.lass{
	border-bottom:1px solid rgb(200,200,200);
}
button{
	margin: 20px 2px;
	width: 320px;
	background-color:@nav ;
	font-weight: bold;
	color: white;
	cursor: pointer;
	border: 0px;
}
button:hover{
	background-color:@nav;
}

.signin{
	height: 400px;
	width: 317px;
	margin: auto;
	}
.login{
	position: absolute;
	display: none;
	margin: auto;	
}
